body {
  /* min-height: 2000px; */
}

#mypagebody {
	background-color: #eee;
}

.container {
    margin-top: 0px;
    padding-top: 0px;
	/*height: 70px;*/
}

.container p {
    margin: 2px;
    padding: 3px;
}

.elem_list {
    line-height: 300%;
}

.top_logo {
    height: 80px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.indent {
  text-indent: 30px;
}
