body {
  /* min-height: 2000px; */
}

a:link {
    color: white;
}

#mypagebody {
	  background-color: #eee;
    border-radius: 50px; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    /*padding:10px;*/
    border: 0px solid #800000;
}

.container {
   margin-top: 0px;
    padding-top: 0px;
	/*height: 70px;*/
}

.container p {
    margin: 2px;
    padding: 3px;
}

.elem_list {
    line-height: 300%;
}

.group_descrpt {
    background-color: #eee;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 0px solid #800000;
}



.navbar-static-top {
  margin-bottom: 19px;
}

.indent {
  text-indent: 30px;
}

.form {
  width: 100%;
  margin-bottom: 2rem;
}

.fillin {
  width: 100%;
  height: 5em;
  margin-bottom: 2rem;
}

#bottom {
  margin-bottom: 2rem;
}

